body {
    background-color: #f3f4f5;
}

.table,
.alert {
    margin-top: 20px;
    display: none;
}

.panel {
    margin-top: 30px;
}

td {
    vertical-align: middle !important;
}

td:nth-child(2) {
    text-align: center;
}

th {
    text-align: center;
}

.form-control {
    border: 0;
    background-image: linear-gradient(#009688, #009688), linear-gradient(#d2d2d2, #d2d2d2);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    box-shadow: none;
}

.form-control:focus,
.form-control.focus {
    outline: none;
    background-image: linear-gradient(#009688, #009688), linear-gradient(#d2d2d2, #d2d2d2);
    -webkit-animation: input-highlight .5s forwards;
    animation: input-highlight .5s forwards;
    box-shadow: none;
    background-size: 0 2px, 100% 1px;
}

.btn {
    padding: 8px 30px;
    border: 0;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 2px;
    transition: background-color .2s ease;
    outline: none !important;
}

.popover {
    max-width: 326px;
}

#footer {
    margin-bottom: 20px;
}

@-webkit-keyframes input-highlight {
    0% {
        background-size: 0 2px, 100% 1px
    }
    100% {
        background-size: 100% 2px, 100% 1px
    }
}

@keyframes input-highlight {
    0% {
        background-size: 0 2px, 100% 1px
    }
    100% {
        background-size: 100% 2px, 100% 1px
    }
}